<form action="#" method="post" onsubmit="return false;">
    <fieldset>
        <div class="col-md-12">
            <h3>Music player</h3>
            <div class="form-group">
                <input type="text" class="form-control" id="login" name="login" value="demo" placeholder="login">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="password" name="password" value="demo" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-default submit">Login</button>
            </div>
            <span class="fail">Wrong login or password try demo/demo</span>
        </div>
    </fieldset>
</form>